<h1>TP RXJS</h1>
<p>
  Mister Jack a une commande pour nous. Attention c'est un client exigeant !!!
  <br />Mister Jack souhaite équiper des pneus neiges à chacun des véhicules
  jaunes et garder les pneus par défault sur les autres véhicules. <br />Pour
  cela, vous devez faire appel à la fonction setWinterTyreOnCar() qui mettra des
  pneus neige sur le véhicule.
</p>
<h3>Véhicules disponibles :</h3>
<div class="container">
  <div *ngFor="let el of resultSource">
    <img src="assets/img/{{ el.color }}-car.jpg" />
  </div>
</div>

<h3>Véhicules envoyés :</h3>
<div class="container">
  <div *ngFor="let car of cars">
    <img src="assets/img/{{ car.color }}-car.jpg" />
  </div>
</div>

<h3>
  Satisfaction Client :
  <span *ngIf="validateConditionClient(); else notValidate">😃</span>
  <ng-template #notValidate>😡</ng-template>
</h3>

<div><a [routerLink]="['/rxjs/home']">Acceuil RXJS</a></div>
