<p class="bold">Consignes :</p>
<ol>
  <li>
    Créer un formulaire pour enregister les informations client (voir
    l'interface order dans le dossier modèle)
  </li>
  <li>Ajouter les bons validateurs pour vérifier la qualité des données</li>
  <li>
    Ce formulaire devra répondre aux exigences suivantes : <br />a. Affichage
    des erreurs après que l’utilisateur ait touché ou modifié le champ <br />b.
    Le bouton de soumission doit être cliquable que si le formulaire est valide
    <br />c. Lors de la soumission du formulaire : réinitialiser le formulaire
  </li>
  <li>
    Soumission du formulaire : Envoi d'une requête POST au endpoint suivant
    https://659c7e67633f9aee7907ad5d.mockapi.io/api/order
    <br />
    Vider le panier
  </li>
</ol>
<mat-divider></mat-divider>
<h2>Formulaire de livraison</h2>
